*{
    margin: 0;
    padding: 0;
}
body{
    padding-top: 50px;
    padding-left: 50px;
    height: 1200px;
    font-size: 18px;
    font-family: Calibri, Optima, Arial, sans-serif;
}
.container{
    padding-top: 30px;
    padding-bottom: 15px;
    width:  40%;
    background: rgb(133, 132, 132);
}


.container  > div {    
    margin-bottom: 20px;
}


.container  > div  > span:first-child { 
    background-color: rgb(228, 228, 228);
    margin-top: 0;
    margin-bottom: 0;
  }

  .container  > div  > span:first-child::before { 
    display: none;
  }
  /* .container  > div {
    height: -30px;
  } */